
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}" >
    <title>LIBRERIA+</title>

    <hr class="my-4">

</head>
<body>
 
  <main>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'listar_libro' %}  ">liberia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'crear_autor' %}"> crear autores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_autor' %}">lista de autores</a>
              </li>
            
           
            </ul>
          </div>
        </div>
      </nav>
      <hr class="my-4">

    {% block body %}
    
    {% endblock body %}

<br><br><br>
   

    <script src=" {% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/estilos.js' %}  "></script>

    <hr class="my-4">
  

    <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</main>
</body>
</html>

