
{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
  <h1>CREAR LIBRO </h1>
  <form method="POST" class="row g-3" name="myForm" onsubmit= "return validateForm"  required>

    
     <div class="container">
        {% csrf_token %}

  


      
     
    
      {{form.as_p}}
    </div>  



    <div class="col-12">
      <button class="btn btn-primary" type="submit">CREAR</button>
    </div>
    
       
   
   
    </form>     
</div>

  

{% endblock body %}

