
{% extends "base.html" %}
  {% block body %}

  <div class="container-fluid">
    
    <form method="POST" class="row g-3" name="myForm" onsubmit= "return validateForm"  required>

      
        
      {% csrf_token %}

      {% if error %}
         {{error}}
      {% else %}

      <!--{{autor_form.as_table}} -->
      
     <div class="container ">
        <div class="col-md-2">
          <label for="validationDefault01" class="form-label">nombre</label>
          <input type="text" class="form-control" name="nombre" id="validationDefault01" value= {{autor.nombre}} >
        </div>
        <div class="col-md-2">
          <label for="validationDefault02" class="form-label">apellido</label>
          <input type="text" class="form-control" name="apellido" id="validationDefault02"  value="{{autor.apellido}} " required>
        </div>
        <div class="col-md-2">
          <label for="validationDefault02" class="form-label">nacionalidad</label>
          <input type="text" class="form-control" name="nacionalidad" id="validationDefault02" value="{{autor.nacionalidad}} "  required>
        </div>
        <div class="col-md-2">
          <label for="validationDefault02" class="form-label">descripcion</label>
          <input type="text" class="form-control" name="descripcion" id="validationDefault02"  value=" {{autor.descripcion}} " required>
        </div>
        
      </div> 
       
        

   
        
       
      
    



      {% endif %}
      <div class="col-12">
        <button class="btn btn-primary" type="submit">CREAR</button>
      </div>
      
         
     
     
      </form>     
  </div>

    

 {% endblock body %}



