
{% extends "base.html" %}
{% block body %}
<h1>autores</h1>
{% load static %}

<h1>  {{mensaje}} </h1>
<table class="table table-dark striped">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">nombre</th>
        <th scope="col">apellido</th>
        <th scope="col">nacionalidad</th>
        <th scrope="col"> opciones -----></th>
      
       
      </tr>
    </thead>
    <tbody>
    {% for autor in autores %}
      <tr>
        <th scope="row">{{autor.id}} </th>
        <td>{{autor.nombre}} </td>
        <td>{{autor.apellido}} </td>
        <td>{{autor.nacionalidad}} </td>
        
 
      <td>

<a href="{% url 'eliminar_autor' autor.id  %}"><button class="btn btn-warning">eliminar</button></button></a>



      <!-- Button trigger modal -->




          <a href="{% url 'editar_autor' autor.id  %}"><button class="btn btn-success">editar</button></a>
        </td>

    {% endfor %}
      </tr><div class=""></div>
     
    </tbody>
  </table>
  

{% endblock body %}


