{% extends "base.html" %}
{% block body %}
<table class="table table-dark striped">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">titulo</th>
        <th scope="col">fecha_publicacion</th>
        <th scope="col">autor</th>
        <th scrope="col"> opciones -----></th>
      
       
      </tr>
    </thead>
    <tbody>
      {% for libro in libros %}
        <tr>
          <th scope="row">{{libro.id}}  </th>
          <td> {{libro.titulo}}  </td>
          <td> {{libro.fecha_publicacion}}</td>
          <td>  {% for autor in libro.id_autor.all %} <li> {{autor.nombre}} </li> {% endfor %}</td>
          <td>          

            <a href=""><button class="btn btn-warning">eliminar</button></button></a>
            <a href=""><button class="btn btn-success">editar</button></a>
          </td>
          
          
        </tr><div class=""></div>
      {% endfor %}
       
        
    </tbody>
  </table>

{% endblock body %}


