        
{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
  <h1>Eliminar autor</h1>
  <div class="container">
      <div class="row">
        <form method="POST" >

    
      
          {% csrf_token %}
        
            
          <h2 stlye="text-color:red;">¿desea eliminar el autor {{autor.nombre}} ?</h2>
          <button class="btn btn-warning" type="submit">ELIMINAR</button>
          <button class="btn btn-primary" type="SUBMIT"><a  class="" href="{% url 'listar_autor'  %} "> </a>CANCELAR</button>
 
           
        </form>
               
           
          


      </div>
  </div>

{% endblock body %}
